<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.leetawgwan.termproject">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_bible"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/bible_ic_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TermProject">
        <activity
            android:name=".MainActivity"
            android:label="성경 주석"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Page" android:label="장 (page)"></activity>
        <activity android:name=".content_bible" android:label="말씀"></activity>
        <activity android:name=".getComment" android:label="절"></activity>
    </application>

</manifest>